body {
    background-color: #fcf2f774;
    color: #000000;
    font-size: 24px; 
    
}
h1{
    color: #46ebf7;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
    
}

h2 {
    color: #f68ebf;
}

h3 {
    color: #f4afff
    
}

h4{
    color: #f4afff;
    text-align: center;
    font-size: 50px;
    border: #f4afff;
}

p { 
    text-align: justify;
}

em {
    text-decoration: dotted;
    font-style: italic;
    display: block;
    border: 10px solid #f4afff;
}