body {
    background-color: #f9d6e874;
    background-image: url("images/stars.gif");
    color: #00fbff;
    font-size: 24px; 
    
}
h1{
    color: #f4afff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
    
}

a {
    color: #f68ebf;
}

a:active {
    color: ghostwhite;
}

a.hover {
    color: #00fbff;
}

h2 {
    color: #f68ebf;
}

h3 {
    color: #f4afff
    
}

h4{
    color: #f4afff;
    text-align: center;
    font-size: 50px;
    border: #f4afff;
}

p { 
    text-align: justify;
}

em {
    text-decoration: dotted;
    font-style: italic;
    display: block;
    border: 10px solid #f4afff;
}

.credit {
    background-color: #f4afff;
    width: 350px;
    margin: auto;
}

.box{
    background-color: #f4afff;
    width: 800px;
    margin: 20px;
    padding: 20px;
    border-width: 30px;
    border-color: #00fbff;
    border-radius: 30px;
    margin: auto;
}